## Apply lambda function with multiple arguments and single return.

In [92]:
import pandas as pd
import numpy as np

#Make some fake data
mu, sigma = 250, 50
A = np.random.normal(mu, sigma, 5)
mu, sigma = 250, 1
B = np.random.normal(mu, sigma, 5)

def C(A, B):
    C = A / (2 * B)
    return C

df = pd.DataFrame({'A':A, 'B':B})

df['C'] = df.apply(lambda x: C(x['A'], x['B']), axis=1)

In [91]:
df

            A           B         C
0  250.685790  249.921431  0.501529
1  201.749678  251.270353  0.401459
2  283.070652  250.804952  0.564324
3  310.630758  248.473995  0.625077
4  163.565622  249.431943  0.327876

## Apply lambda function with multiple arguments and multiple returns.

In [118]:
def C(A, B):
    C = A / (2 * B)
    D = A**2 + B**2
    return C,D

df = pd.DataFrame({'A':A, 'B':B})
                  
df[['C', 'D']] = df.apply(lambda x: C(x['A'], x['B']), axis=1, result_type='expand').values.tolist()

In [119]:
df

            A           B         C              D
0  215.968532  250.080847  0.431797  109182.836672
1  226.384896  250.921023  0.451108  114211.481127
2  193.594525  249.545587  0.387894   99751.840257
3  198.692321  249.421680  0.398306  101689.812804
4  218.264168  251.624611  0.433710  110954.191636